.main-card-cont {
    margin-right: 40px;
    width: auto;
    display: inline-flex;
}
.main-card {
    width: 28.5em;
    height: 21.25em;
    border: 2px solid #6c5959;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-card-cont .main-card img {
    width: 28.5em;
    height: 15.1em;
    border-bottom: 2px  #6c5959;
    border-top: 2px  #6c5959;
    margin-left: -1px;
    position: relative;
}

.main-card-cont .main-card .recipeName {
    font-family: 'Muli';
    width: 23.8rem;
    height: 1.6rem;
    font-weight: bold;
    font-size: 20px;
    text-align:left;
    margin-left: 5px;
}

.main-card-cont .main-card .recipeDesc {
    width: 18.75rem;
    height: 1.1rem;
    font-size: 14px;
    font-family: 'Quicksand';
    text-align:left;
    margin-left: 6px;

}

.main-card-cont .main-card .prepTime {
    width: 8.6rem;
    height: 1.4rem;
    font-family: 'Quicksand';
    font-weight: bold;
    text-align: left;
    margin-top: 4px;
    margin-left: 5px;


}
.main-card-cont .main-card .cookTime {
    width: 8.6rem;
    height: 1.4rem;
    font-family: 'Quicksand';
    font-weight: bold;
    text-align:left;
    margin-left: 5px;
}


.quickView{
    display: none;
    margin-top: -51px;
    height: 3.2em;
    background-color: rgba(255, 249, 249, 1);
    font-size: 16px;
    position: absolute;
    width: 28.5em;
}
.main-card-cont:hover .quickView {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media only screen and (max-width: 425px) { 
    
    .main-card {
        margin-left: 10px;
        margin-right: 0px;
        width: 24.1em;
        height: 18.1em;
        border: 2px solid #6c5959;
        margin-bottom: 10px;
    }
    .main-card-cont {
        margin-left: 8%;
    }
    .main-card-cont .main-card img {
        width: 24.1em;
        height: 15em;
        border-bottom: 2px solid #6c5959;
        border-top: 2px solid #6c5959;
        position: relative;
        margin-top: -2px;
        margin-left: .1px;
      
    }
    
    .main-card-cont .main-card .recipeName {
        font-family: 'Muli';
        width: 23.8em;
        height: 25px;
        font-weight: bold;
        font-size: 20px;
        text-align:left;
        margin-left: 5px;
    }
    
    .main-card-cont .main-card .recipeDesc {
        width: 18.75em;
        height: 18px;
        font-size: 14px;
        font-family: 'Quicksand';
        text-align:left;
        margin-left: 6px;

    
    }
    
    .main-card-cont .main-card .prepTime {
        width: 8.6em;
        height: 22px;
        font-family: 'Quicksand';
        font-weight: bold;
        text-align:left;
        margin-top: 4px;
        margin-left: 2px;
        display: none;
    
    }
    .main-card-cont .main-card .cookTime {
        width: 138px;
        height: 22px;
        font-family: 'Quicksand';
        font-weight: bold;
        text-align:left;
        margin-left: 2px;
        display: none;
    }
    
    
    .quickView{
        display: none;
        margin-top: -51px;
        height: 51px;
        background-color: rgba(255, 249, 249, 1);
        font-size: 16px;
        position: absolute;
        width: 385px;
    }
    .main-card-cont:hover .quickView {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-card-cont:hover .quickView {
        display: none;
    }
    }
    @media only screen and (max-width: 812px) {
        .main-card-cont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 1024px) {
        .main-card-cont {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    