.foot-container {
  background-color: #f8c446;
  bottom: 0;
  position: relative;
  width: 100%;
  height: 10em;
  display: flex;
  flex-flow: row;
  color: white;
  text-align: left;
}

.foot-title {
  font-size: 30px;
  margin-left: 90px;
  margin-top: 45px;
  font-weight: 800;
  font-family: 'Muli';
}
.login-about {
  margin-top: 45px;
  margin-left: 165px;
  font-size: 18px;
  font-family: 'Muli';
}

.terms-privacy {
  margin-top: 45px;
  margin-left: 165px;
  font-size: 18px;
  font-family: 'Muli';
}
.contact {
  margin-top: 45px;
  margin-left: 165px;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Muli';
}
.email {
  font-weight: 200;
  font-family: 'Muli';
}
.social-media {
  margin-top: 45px;
  margin-left: 165px;
  font-family: 'Muli';
  font-weight: bold;
}
.social-media img {
  width: 5.3em;
  margin-right: 10px;
}
.copyright {
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  margin-left: 50px;
  position: relative;
  font-family: 'Muli';
}

.second-footer {
  display: none;
}


@media screen and (max-width: 500px) {
  .second-footer {
    width: 100vw;
    height: 61px;
    display: flex;
    flex-flow: column;
    position: fixed;
    bottom: 0;
    border-top: black solid 1.1px;
    background-color: white;
  }

  .img-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-right: 10px;
  }
  .img-container img {
    width: 2.25em;
  }

  .words-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 2px;
    bottom: 0px;
    position: relative;
  }
   
  .img-container :nth-child(1){
      position: relative;
      top: 7px;
      right: 8.5px;
  }

  .img-container :nth-child(2){
    position: relative;
    top: 7px;
    right: 4px;
  }


  .img-container :nth-child(3){
    position: relative;
    top: 7px;
    left: 7.5px;

}


  .foot-container {
    display: none;
  }

  .foot-title {
    display: none;
  }
  .login-about {
    display: none;
  }
  .terms-privacy {
    display: none;
  }
  .contact {
    display: none;
  }
  .email {
    display: none;
  }
  .social-media {
    display: none;
  }
  .social-media img {
    display: none;
  }
  .copyright {
    display: none;
  }
}

@media screen and (max-width: 812px) {
  .foot-container {
    width: 100%;
  }
}


