.quick-view-cont{
    margin-top: -600px;
    margin-right: 15px;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.87);
    width:100vw;
    height: 200vh;
    max-height: 200vh;
    display: flex;
    justify-content: center;
}


.quick-card{
    background: white;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    padding: 20px 42px;
    margin-top: 30vh;
}
.close-modal{
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;    
}

.quick-view-recipe-main{
    display: flex;
}

.quick-view-recipe-main-left{
    width: 346px;
}
.quick-view-recipe-main-left img{
    width: 100%;
}
.quick-view-recipe-main-right{
    margin-left: 35px;
}


.quick-recipeName{}

.quick-recipeDesc{
margin-top: 50px;
}


.quick-prepTime{
    margin-right: 145px;
    margin-bottom: 5px;
    letter-spacing: normal;
}
.quick-cookTime{
    margin-right: 145px;
    letter-spacing: normal;

}
.quick-prepTime img{
    width: 15px;
    margin-right: 10px;
    align-items: left;
}
.quick-cookTime img{
    margin-right: 10px;
width: 15px;
}
.ingred-container{
    display: flex;
    flex-flow: column;
    width: 200px;
    text-align: left;
}
.ingred-container p{
    border-bottom:solid 2px grey;

}