.quick-view-cont{
    margin-top: -300px;
    margin-right: 15px;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.87);
    width:100vw;
    height: 200vh;
    max-height: 200vh;
    display: flex;
    justify-content: center;
}


.quick-card{
    background: white;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 70vh;
    padding: 20px 42px;
    margin-top: 30vh;
}
.close-modal{
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;    
}

.quick-view-recipe-main{
    display: flex;
}

.quick-view-recipe-main-left{
    width: 346px;
}
.quick-view-recipe-main-left img{
    width: 40vh;
    height: 30vh;
}
.quick-view-image{
    border: 2px solid #6c5959 ;

}
.quick-view-recipe-main-right{
    margin-left: 100px;
}


.quick-recipeName{
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: solid grey 1px;
    padding-bottom: 10px;
}

.quick-recipeDesc{
margin-top: 25px;
text-align: left;
font-size: 19px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
font-family: 'quicksand';
}


.quick-prepTime{
    display: flex;
    width: 265px;
    letter-spacing: 1px;
    margin-bottom:4px;
    font-family: 'quicksand' monospace;

}
.quick-cookTime{
    display: flex;
    width: 265px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'quicksand' monospace;



}
.quick-prepTime img{
    width: 20px;
    margin-right: 10px;
}
.quick-cookTime img{
    margin-right: 10px;
    width: 20px;
}

.ingredients{
    display: flex;
    
}

.ingredients p{
    width: 300px;
    display: flex;
    flex-flow: row;
    height: 60px;
    border-bottom: solid 1px grey;
    align-items: center;
    align-content: left;
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    justify-content: space-between;

}
.ingredients img{
    display: flex;
    width: 55px;
    height: 55px;
    align-items: center;

    margin-top: 2.5px;

}

.close-button{
    border: none;
    
}
.close-button img{   
width: 20px;    
}

.quick-view-recipe-main-left .five-stars {
    display: flex;
    align-items: left;
    width: 17vh;
    height: 40px;
}
.rating-container{
    display: flex;
    align-items: center;
}
.rating-numb{
    margin-left: 10px;

  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

}


@media only screen and (max-width: 425px) {




}