form{
    border: 1px solid #525757;
    width: 617px;
    height: 40px;
    border-radius: 20px;
    font-size: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Quicksand";
    margin-left: 57px;
    margin-top: 25px;
    margin-right: 0px;
    flex-flow: row;
}


input{
    width: 560px;
    height: 24px;
    border: none;
    font-weight: bold;
}

.search-icon{
    width: 24px;
    margin-right: 1px;
}

@media screen and (max-width: 420px) {
    form{
        width: 400px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        
    }
    input{
        width:330px;
    }
    .snack{
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .flex{
        display: flex;
        flex-flow: row wrap;
    }
}