form {
    border: 1px solid #525757;
    width: 617px;
    height: 40px;
    border-radius: 20px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";
    margin-left: 31%;
    margin-top: 25px;
    flex-flow: row;
}

input{
    width: 560px;
    height: 24px;
    margin-left: 10px;
    border: none;
    font-weight: bold;
}

.search-icon {
    width: 24px;
    margin-left: 5px;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
    form {
        width: 400px;
        height: 30px;
        margin-left: 5%;
        margin-right: 5%; 
    }
    .search-icon {
        width: 18px;
    }
    input{
        width:330px;
    }
    
    .snack{
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .flex{
        display: flex;
        flex-flow: row wrap;
    }
}