@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
form{
    border: 1px solid #525757;
    width: 617px;
    height: 49px;
    border-radius: 20px;
    font-size: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Quicksand";
}


input{
    width: 439px;
    height: 24px;
    border: none;
    font-weight: bold;
}

@media screen and (min-width: 420px) {
    form{
        width: 400px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        
    }
    input{
        width: 250px;
    }
    .snack{
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .flex{
        display: flex;
        flex-flow: row wrap;
    }
}